<div id="profileView-content">
    <h3 data-bind="text: fullname" />
    <form id="profileView-form">
        <div data-role="collapsible" data-theme="a" data-content-theme="b">
            <h4>Contact Info</h4>
            <ul id="profileView-contactinfolist" data-role="listview" data-inset="true">
                <li data-role="fieldcontain">
                    <div class="ui-grid-solo">
                        <input type="text" name="mobilePhone" id="mobilePhone" data-bind="value: MobilePhone" data-clear-btn="true">
                    </div>
                </li>
                <li data-role="fieldcontain">
                    <div class="ui-grid-solo">
                        <input type="text" name="city" id="city" data-bind="value: City" data-clear-btn="true">
                    </div>
                </li>
                <li data-role="fieldcontain">
                    <div class="ui-grid-solo">
                        <select name="state" id="state" data-mini="true"
                            data-bind="options: availableStates, value: selectedState, optionsText: 'Code', optionsCaption: 'State'">
                        </select>
                    </div>
                </li>
                <li data-role="fieldcontain">
                    <div class="ui-grid-solo">
                        <input type="text" name="neighborhood" id="neighborhood" data-bind="value: Neighborhood" data-clear-btn="true">
                    </div>
                </li>
            </ul>
        </div>
        <div data-role="collapsible">
            <h4>Children</h4>
            <ul id="profileView-childrenlist" data-role="listview" data-inset="true">
            </ul>
        </div>
        <div data-role="collapsible">
            <h4>Groups</h4>
            <ul id="profileView-groupslist" data-role="listview" data-inset="true">
            </ul>
        </div>
        <div class="ui-grid-solo">
            <button id="saveProfile" type="submit" data-bind="click: saveProfile" data-theme="a">Save</button>
        </div>
    </form>


</div>
