<div id="requestView-content">
    <div data-role="ui-grid-a">
        <div class="ui-block-a">
            <img style="max-height: 75px; max-width: 75px" data-bind="attr: { src: Requestor.ProfilePictureUrl }" />
        </div>
        <div class="ui-block-b">
            <h3 style="padding-left: 2em;"><span data-bind="text: Requestor.FirstName"></span>&nbsp;<span data-bind="    text: Requestor.LastName"></span></h3>
        </div>
    </div>
    <div>
        <h3 data-bind="text: Title"></h3>
        <p data-bind="text: Body"></p>
    </div>

</div>
