
<div class="content-padded">
  <div id="nearByView-content">
    <div id='divSearch' data-role="controlgroup" data-type="vertical" data-theme="a">
        <!--form id="searchForm" action="">
            <input id="searchTerm" type="text" data-bind="value: searchTerm" />
            <a id="searchButton" href="#" data-role="button" data-bind="click: search"
                data-theme="a" data-iconpos="right" data-icon="search" >Search</a>
        </form-->
        <div id="nearbyMap" style="width: 100%; position: absolute; height: 88%; top: 50px; margin-left: -15px;"></div>
    </div>
</div>

</div>
<script type="text/x-jquery-tmpl">
<div id="mapPinInfoView-content" class="pushpin-infobox">
    <a href="#popupInfoDetail" data-rel="popup" data-bind="click: function () { $('#popupInfoDetail').popup('open'); }" data-position-to="window" data-transition="pop">
        <h3 data-bind="text: Checkin.Owner.FirstName() + ' ' + Checkin.Owner.LastName()"></h3>
        <p data-bind="text: Checkin.Note()"></p>
    </a>
    <div data-role="popup" id="popupInfoDetail" data-theme="a" class="ui-corner-all">
        <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
        <ul data-role="listview" data-inset="true">
            <li data-bind="text: Checkin.Owner.FirstName() + ' ' + Checkin.Owner.LastName()"></li>
            <li data-bind="text: 'Checked in at ' + Checkin.DisplayStartTime()"></li>
            <li data-bind="text: 'Plans to be there for another ' + Checkin.EstimatedTimeRemaining() + ' minutes'"></li>
        </ul>
    </div>
</div>
</script>
