<div class="content-padded">
  <div id="friendsListView-content">
    <ul data-role="listview"
        data-autodividers="true"
        data-filter="true"
        data-bind="foreach: profile.Friends()">
        <li>
            <a data-bind="text: $data.FirstName() + ' ' + $data.LastName(), click: function () { $data.viewDetails(); } "></a>
        </li>
    </ul>

</div>
</div>
<script type="text/x-jquery-tmpl">

<div id="friendDetailView-content">
    <ul id="friendDetailView-list" data-role="listview">
        <li data-role="fieldcontain">
            <div data-role="ui-grid-a">
                <div class="ui-block-a">
                    <img style="max-height: 75px; max-width: 75px" data-bind="attr: { src: ProfilePictureUrl }" />
                </div>
                <div class="ui-block-b">
                    <h3 style="padding-left: 2em;"><span data-bind="text: FirstName"></span>&nbsp;<span data-bind="    text: LastName"></span></h3>
                    <h3 style="padding-left: 2em;"><span data-bind="text: Email"></span></h3>
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div data-role="collapsible-set" data-theme="a" data-content-theme="b">
                <div data-role="collapsible" data-theme="a" data-content-theme="b">
                    <h4>Contact Info</h4>
                    <ul id="firendDetailView-contactinfolist" data-role="listview" data-inset="true">
                        <li data-role="fieldcontain">
                            <div class="ui-grid-solo">
                                <h4 data-bind="text: MobilePhone" />
                            </div>
                        </li>
                        <li data-role="fieldcontain">
                            <div class="ui-grid-solo">
                                <h4><span data-bind="text: City" />,&nbsp<span data-bind="    text: State" /></h4>
                            </div>
                        </li>
                        <li data-role="fieldcontain">
                            <div class="ui-grid-solo">
                                <h4 data-bind="text: Neighborhood" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h4>Children</h4>
                    <ul id="firendDetailView-childrenlist" data-role="listview" data-split-icon="delete" data-theme="a" data-split-theme="b" data-inset="true">
                        <li data-role="list-divider">
                            <div class="ui-grid-b">
                                <div class="ui-block-a">
                                    <h6>Name</h6>
                                </div>
                                <div class="ui-block-b">
                                    <h6>Age</h6>
                                </div>
                                <div class="ui-block-c">
                                    <h6>Gender</h6>
                                </div>
                            </div>
                        </li>
                        <!-- ko foreach: Children -->
                        <li data-role="fieldcontain">
                            <div class="ui-grid-b">
                                <div class="ui-block-a">
                                    <h6 data-bind="text: Name" />
                                </div>
                                <div class="ui-block-b">
                                    <h6 data-bind="text: Age" />
                                </div>
                                <div class="ui-block-c">
                                    <h6 data-bind="text: Gender" />
                                </div>
                            </div>
                        </li>
                        <!-- /ko -->
                    </ul>

                </div>
                <div data-role="collapsible">
                    <h4>Groups</h4>
                    <ul id="firendDetailView-groupslist" data-role="listview" data-inset="true">
                    </ul>
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <a href="#" data-bind="click: viewFriends">Friends</a>
        </li>
    </ul>

</div>


</script>
